.home h1 {
  display:none;
}
#learning_strategies_list {
  margin:10px 0;
}

ul ul li {
  margin-left:30px;
}

ul ul ul li {
  margin-left:60px;
}

.ca_dropdown_label {
  display:inline-block;
  width:200px;
}

#learning_strategies_list {
  margin-top:30px;
}

.learning-strategy-list-popup {
  border:solid 1px black;
  padding:20px;
}


/*** COURSE ANALYSIS COMMENTS ***/

.section-comments {
  border:solid 1px grey;
  padding:20px;
  font-size:0.9em;
  margin: 20px 0;
}
